
$si-primary-color: #55a79a;

$primary: $si-primary-color;

@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/bulma/bulma.sass";

nav.si-nav {
	border-bottom: 1px solid $si-primary-color;
    background: gainsboro;
}


#main-section {
	min-height: calc(99vh - 270px);
}


.menu.si-side-menu {
	min-width: 15em;
	margin-left: .5em;
}

.mobile-menu.si-side-menu {
	position: absolute;
	z-index: 100;
	background-color: whitesmoke;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
  	visibility: visible;
 	-webkit-transform: translate3d(calc(-100%), 0, 0);
 	transform: translate3d(calc(-100%), 0, 0);
}

.si-side-menu.si-side-menu-open {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.si-side-menu-toggle{
	background-color: whitesmoke;
}

.si-side-icon-list{
	list-style: none;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.si-change-outline-alert-alert {
	border: 2px solid rgba(200,25,25,.75);
	border-radius: 5px;
}

.si-tid-card {
	width: 25em;
}

.si-uploaded-img-figure-container {
	max-width: 640px;
}

img.si-org-logo {
	max-height: 128px !important;
}

.si-is-void, .si-is-void text {
	color: #ff1f4b;
}

.si-has-transform, .si-has-transform text {
	text-decoration: line-through;
}

.si-help {
	width: 20%;

	.content {
		width: 100%;
	}

	.accordion .ui-state-active {
		background-color: $si-primary-color;
		border-color: $border;
	}
}

.si-help-panel {
	margin-top: 1em;
	margin-right: .5em;
}

a.si-brand {
	font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Rambla";
    color: $si-primary-color !important;

    span {
    	color: rgba(27,27,27,0.8);
    	font-weight: 700;
    }
}

.si-slogan {
	border-left: 1px solid #e6e6e6;
	margin-left: 1em;
	padding-left: 1em;
}

.tabs.has-dropdown {
	overflow: visible;
}

.tabs .si-tabs-dropdown {
	position: relative;
}

.tabs .si-tabs-dropdown ul {
	z-index: 1;
	display: block;
    visibility: hidden;
	position: absolute;
	top: 100%;
	opacity: 0;
	transition: opacity 0.35s linear;

	li.not-active a {
		background-color: $white;
    	border-color: $grey-lighter;
    	color: inherit;
	}

	li.not-active a:hover {
		background-color: $light;
		border-color: $grey-light;
	}

}

.tabs .si-tabs-dropdown:hover ul {
    visibility: visible;
  	opacity:1;
  	transition-delay:0;
}

.tag .si-tag-button {
	margin-left: 2px;

	.icon {
		background-color: inherit;
	}
}

ul.si-large-tag-list li {
	margin-bottom: 0.33em;
}

ul.si-import-property-list {
	display: flex;
	margin-bottom: .5em;
	li {
		border-bottom: 2px solid black;
		border-right: 1px solid black;
		padding: .25em;
	}
	li:last-child {
		border-right: none;
	}
	.is-required {
		color: red
	}
}
