<span class="tag is-large is-dark">
	{{type}}: {{street}}
	<button type="button" data-ui="edit" title="Edit" class="si-tag-button button is-dark is-small">
		<span class="icon is-small fa fa-pencil"></span>
	</button>
</span>