<h3 class="title is-3">User #{{id}}</h3>
<form>
	<label class="label">User Name</label>
	<p class="control">
		<input class="input" name="username" type="text" placeholder="Enter User Name">
	</p>
	<label class="label">Password</label>
	<p class="control  is-grouped">
		<input class="input" name="newPassword" type="password" {{#if id}}disabled{{/if}}>
		<button type="button" class="button is-warning" name="resetPassword">Reset</button>
	</p>
	<p class="control">
	  	<label class="checkbox">
	    	<input name="isActive" type="checkbox">
	    	Is Active?
	  	</label>
	</p>
	<p class="control">
	  	<label class="checkbox">
	    	<input name="receivesInventoryAlert" type="checkbox">
	    	Receives Inventory Alert?
	  	</label>
	</p>
	<label class="label">First Name</label>
	<p class="control">
	  	<input class="input" name="firstName" type="text" placeholder="Enter First Name">
	</p>
	<label class="label">Last Name</label>
	<p class="control">
	  	<input class="input" name="lastName" type="text" placeholder="Enter Liast Name">
	</p>
	<label class="label">Email</label>
	<p class="control">
	  	<input class="input" name="email" type="text" placeholder="Enter Email">
	</p>
	{{#isGrantedRole 'ROLE_DEV'}}
		<label class="label">Organization</label>
		<p class="control">
			<span class="select">
		  		<select name="organization"></select>
	  		</span>
		</p>
	{{/isGrantedRole}}
	<label class="label">Default Department</label>
	<p class="control">
		<span class="select">
	  		<select name="defaultDepartment"></select>
  		</span>
	</p>
	<label class="label">Roles</label>
	<p class="control has-addons">
		<span class="select">
	  		<select name="role"></select>
  		</span>
  		<button type="button" class="button is-success" name="addRole">Add</button>
	</p>
	<label class="label">Assigned Roles</label>
	<div class="control">
		<div class="box" data-ui-name="roles"></div>
	</div>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
		<button type="button" class="button is-danger" data-ui-name="delete">Delete</button>
		<span class="not-synced-alert fa fa-exclamation-triangle" title="This entity is not synced with the server."></span>
	</p>
</form>
