<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Client</th>
			<th>Inbound Order Label</th>
			<th>Description</th>
			<th>Is Void?</th>
			<th>Traveler Id Count</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
