<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Part Id</th>
			<th>Part Alt Id</th>
			<th>Description</th>
			<th>Part Category</th>
			<th>Part Group</th>
    		<th>Is Active?</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
