<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
    		<th>Is Active?</th>
    		<th>For Role</th>
    		<th>For Bin Type</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
