<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Is Active</th>
			<th>Position</th>
			<th>Menu Link</th>
			<th>Department</th>
			<th>Parent</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
