<a href="{{manifestUrl}}" class="button" title="Download Manifest"><span class="fa fa-download"></span></a>
<table class="table is-striped">
	<thead>
		<tr>
			<th>{{itemName}}</th>
			<th>Bin</th>
			<th>SKU</th>
			<th>QTY</th>
			<th>SKU QTY</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
