{{propertyName}} -
{{propertyType}}
{{#if isRequired}}
	(Required)
{{/if}}
<button type="button" class="button is-small" data-ui-name="editProperty"><span class="fa fa-edit"></span></button>
<button type="button" class="button is-small" data-ui-name="removeProperty"><span class="fa fa-minus"></span></button>