{{#if menuLink.attributes.url}}
	<a href="{{baseUrl menuLink.attributes.url}}" class="{{#if uiIsActive}}is-active{{/if}}">{{menuLink.attributes.name}}</a>
{{else}}
	{{menuLink.attributes.name}}
{{/if}}
<ul></ul>