<h3>Reports</h3>
<p class="control">
	<select name="report"></select>
</p>
<div class="box">
	<div id="single-query-report-form" class="section"></div>
	<p class="control">
		<button type="button" name="runReport" class="button small radius">Run <span class="fa fa-table"></span></button>
		<button type="button" name="exportReport" class="button small radius">Export(Excel) <span class="fa fa-file-excel-o"></span></button>
		<button type="button" name="exportReportCsv" class="button small radius">Export(CSV) <span class="fa fa-file-text-o"></span></button>
	</p>
</div>
<div id="single-query-report-table"></div>