<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">Office:</label>
  </div>
  <div class="control">
    <div class="select is-fullwidth">
      <select id="menu-office-select"></select>
    </div>
  </div>
</div>
<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">Department:</label>
  </div>
  <div class="control">
    <div class="select is-fullwidth">
      <select id="menu-department-select"></select>
    </div>
  </div>
</div>