<div class="columns is-mobile">
	<div class="column">
		<ul class="menu-list"></ul>
	</div>
	<div data-ui="closeSideMenu" class="column is-narrow is-hidden-desktop">
		<ul class="si-side-icon-list">
			<li><span class="icon"><span class="fa fa-navicon"></span></span></li>
			<li><span class="icon"><span data-ui="sideMenuDirectionIcons" class="fa fa-toggle-left"></span></span></li>
		</ul>
	</div>
</div>