<div class="nav-left">
	<div class="nav-item" id="menu-selection-container"></div>
</div>
<div class="nav-center">
	<div class="nav-item">
		{{#if organization.attributes.logo }}
			<div>
				<img  class="si-org-logo" src="/image/{{organization.attributes.logo.id}}/src" />
				<h1 class="title is-3"><a href="/">{{organization.attributes.name}}</a></h1>
			</div>
		{{else}}
			<h1 class="title is-1"><a href="/">{{organization.attributes.name}}</a></h1>
		{{/if}}
	</div>
</div>
<div class="nav-right">
	<div class="nav-item" id="user-info-container"></div>
</div>