<div class="nav-left">
	<div class="nav-item" id="menu-selection-container"></div>
</div>
<div class="nav-center">
	<div class="nav-item">
		<h1 class="title is-1"><a href="{{baseUrl}}">StepThrough</a></h1>
	</div>
</div>
<div class="nav-right">
	<div class="nav-item" id="menu-user-container">
		<div class="card is-fullwidth">
			<header class="card-header">
				<p class="card-header-title">
					Component update
				</p>
			</header>
			<div class="card-content">
				<div class="content">
					Content
					<small>11:09 PM - 1 Jan 2016</small>
				</div>
			</div>
			<footer class="card-footer">
				<a href="{{baseUrl}}/logout">Logout</a>
				<span id="loading-icon-container" class="icon"></span>
			</footer>
		</div>
	</div>
</div>