<form data-ui="paymentInfo">
	<img src="/assets/images/powered_by_stripe.png">
	<p>Step Inventory does not store or even know your card info.  It only receives a reference to a Stripe payment source.</p>
	<div data-ui-name="stripeElement" class="si-stripe-element"></div>
	<div data-ui-name="stripeError" class="notification is-danger" role="alert"></div>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="add">Add Payment Method</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>
