<form data-ui="paymentInfo">
	<label class="label">Card Number:</label>
	<p class="control">
		<input name="number" class="input" type="text" />
	</p>
	<label class="label">CVC:</label>
	<p class="control">
		<input name="cvc" class="input" type="text" />
	</p>
	<label class="label">Expiration Month:</label>
	<p class="control">
		<span class="select">
			<select name="exp_month">
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
		</span>
	</p>
	<label class="label">Expiration Year:</label>
	<p class="control">
		<span class="select">
			<select name="exp_year">
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
				<option value="2022">2022</option>
				<option value="2023">2023</option>
				<option value="2024">2024</option>
				<option value="2025">2025</option>
				<option value="2026">2026</option>
				<option value="2027">2027</option>
				<option value="2028">2028</option>
				<option value="2029">2029</option>
				<option value="2030">2030</option>
				<option value="2031">2031</option>
				<option value="2032">2032</option>
				<option value="2033">2033</option>
				<option value="2034">2034</option>
				<option value="2035">2035</option>
				<option value="2036">2036</option>
				<option value="2037">2037</option>
				<option value="2038">2038</option>
				<option value="2039">2039</option>
				<option value="2040">2040</option>
				<option value="2041">2041</option>
				<option value="2042">2042</option>
				<option value="2043">2043</option>
				<option value="2044">2044</option>
				<option value="2045">2045</option>
				<option value="2046">2046</option>
				<option value="2047">2047</option>
				<option value="2048">2048</option>
				<option value="2049">2049</option>
				<option value="2050">2050</option>
				<option value="2051">2051</option>
				<option value="2052">2052</option>
				<option value="2053">2053</option>
				<option value="2054">2054</option>
				<option value="2055">2055</option>
				<option value="2056">2056</option>
				<option value="2057">2057</option>
				<option value="2058">2058</option>
				<option value="2059">2059</option>
				<option value="2060">2060</option>
				<option value="2061">2061</option>
				<option value="2062">2062</option>
				<option value="2063">2063</option>
				<option value="2064">2064</option>
				<option value="2065">2065</option>
				<option value="2066">2066</option>
			</select>
		</span>
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="add">Add Payment Method</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>
