<div class="nav-item">
	Logged in as {{firstName}}
	<a class="card-header-icon" href="/profile" title="Show Profile">
		<i class="fa fa-gear"></i>
	</a>
</div>
{{!--
<div class="nav-item">
	<div class="content">
		<p>{{appMessage}}</p>
		<small>It is <span data-ui="currentTime">{{moment currentTime}}</span>.</small>
	</div>
</div>
--}}
<div class="nav-item">
	<a class="button" href="{{baseUrl}}/logout" data-default-nav-action="true">Logout</a>
	<span id="loading-icon-container" class="icon"></span>
</div>
