<header class="card-header">
	<p class="card-header-title">
		Hello {{firstName}}
	</p>
</header>
<div class="card-content">
	<div class="content">
		<p>{{appMessage}}</p>
		<small>It is {{moment currentTime}}.</small>
	</div>
</div>
<footer class="card-footer">
	<a href="{{baseUrl}}/logout">Logout</a>
	<span id="loading-icon-container" class="icon"></span>
</footer>
