<td>{{bin.attributes.name}}</td>
<td>{{part.attributes.name}}</td>
<td>{{count}}</td>
<td><button class="button" name="adjust">Adjust</button></td>
<td><button class="button" name="moveIn">Move In</button></td>
<td><button class="button" name="moveOut">Move Out</button></td>