<form>
	<label class="label">Inbound Order</label>
	<p class="control">
  		<select name="inboundOrder"></select>
	</p>
	<label class="label">Bin</label>
	<p class="control">
  		<select name="bin"></select>
	</p>
	<label class="label">SKU</label>
	<p class="control">
  		<select name="sku"></select>
	</p>
	<label class="label">Quantity(Per SKU)</label>
	<p class="control">
  		<input class="input" name="quantity" type="number" min="0.01" step="0.01" placeholder="Enter Quantity" />
	</p>
	<label class="label">Total Traveler Id Count</label>
	<p class="control">
		<input class="input" name="count" type="number" placeholder="Enter Count">
	</p>
	<label class="label">Serials(<span data-ui="serialCount"></span>)</label>
	<small>Optional</small>
	<p class="control">
		<textarea rows="10" name="serials"></textarea>
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>