<ul>
	<li class="{{#ifIsRouteActive '/bin_part_count'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin_part_count">Part Actions</a></li>
	<li class="{{#ifIsRouteActive '/inventory_part_adjustment'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_part_adjustment">Part Adjustment Logs</a></li>
	<li class="{{#ifIsRouteActive '/inventory_part_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_part_movement">Part Movement Logs</a></li>
</ul>