<table class="table is-striped">
	<thead>
		<tr>
			<th>By User</th>
			<th>Transformed At</th>
			<th>From Traveler Id</th>
			<th>To Traveler Id</th>
			<th>To Sales Item</th>
			<th>Quantity</th>
			<th>Is Void?</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
