<td>
	{{#if id }}
		{{salesItem.attributes.label}}
	{{else}}
		<span class="icon"><span class="fa fa-spinner fa-pulse"></span></span>
	{{/if}}
</td>
<td>
	{{#unless inventoryAudit.attributes.isCompleted }}
		<button class="button is-danger" name="remove">Remove</button>
	{{/unless}}
</td>
