<form>
	<label class="label">Part</label>
	<p class="control">
  		<select name="part">
  			{{#if part}}
  				<option value="{{part.id}}">{{part.attributes.name}}</option>
			{{else}}
				<option>Select a part...</option>
  			{{/if}}
  		</select>
	</p>
	<label class="label">Count</label>
	<p class="control">
		<input class="input" name="userCount" type="number" placeholder="Enter Count" value="{{userCount}}">
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>