<button name="massEdit" class="button is-light">Mass Edit Sales Items</button>
<button name="massSelect" class="button is-light">Mass Select Sales Items<span data-ui-name="selectedCount"></span></button>
<div data-region="list"></div>