<button name="massEdit" class="button is-light">Mass Edit Sales Items</button>
<button name="massSelect" class="button is-light">Mass Select Sales Items</button>
<div class="notification is-info" data-ui-name="selectedCount"></div>
<div data-region="list"></div>