<button name="add" class="button">Add Inventory</button>
<button name="massEdit" class="button">Mass Edit Inventory</button>
<button name="massSelect" class="button">Mass Select Inventory</button>
<div data-region="list"></div>