<h3 class="title is-3">Traveler Id #{{id}}</h3>
<form>
	<label class="label">Inbound Order</label>
	<p class="control">
  		<select name="inboundOrder">
			<option>Select a Inbound Order...</option>
  		</select>
	</p>
	<label class="label">Label</label>
	<p class="control">
  		<input class="input" name="label" type="text" placeholder="Enter Label" />
	</p>
	<label class="label">Bin</label>
	<p class="control">
  		<select name="bin">
  			<option>Select a bin...</option>
  		</select>
	</p>
	<label class="label">SKU</label>
	<p class="control">
  		{{sku.attributes.name}}
	</p>
	{{#if unit}}
		<label class="label">Unit</label>
		<p class="control">
			{{unit.attributes.serial}}
		</p>
	{{/if}}
	<p class="control">
	  	<label class="checkbox">
	    	<input name="isVoid" type="checkbox">
	    	Is Void?
	  	</label>
	</p>
	<label class="label">Quantity</label>
	<p class="control">
  		<input class="input" name="quantity" type="number" min="0.01" step="0.01" placeholder="Enter Quantity" />
	</p>
	<label class="label">Cost</label>
	<p class="control">
  		<input class="input" name="cost" type="number" min="0.01" step="0.01" placeholder="Enter Cost" />
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
		<button type="button" class="button is-danger" data-ui-name="delete">Delete</button>
		<span class="not-synced-alert fa fa-exclamation-triangle" title="This entity is not synced with the server."></span>
	</p>
</form>