<button name="print" type="button" class="button">Print</button>
<button name="back" type="button" class="button">Back</button>
<div data-ui="printContainer">
	<div class="box si-tid-card has-text-centered">
		{{barcodeHtml this isCard='true' type="TravelerIdModel"}}
	</div>
</div>