<h3 class="title is-3">Traveler Id #{{id}}</h3>
<form>
	<label class="label">Serial</label>
	<p class="control">
		<input type="text" name="serial" value="{{serial}}" />
	</p>
	<label class="label">Description</label>
	<p class="control">
		<textarea name="description">{{description}}</textarea>
	</p>
	<label class="label">Properties</label>
	<div class="control">
		<ul class="si-unit-property-list" data-region="properties"></ul>
	</div>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Save</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>