<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
        <i class="fa fa-5x fa-spinner fa-pulse icon is-large"></i>
        <h1 class="title is-1">Loading...</h1>
    </div>
  </div>
</div>