<div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
        <div class="tile is-child"></div>
        <div class="tile">
            <div class="tile is-child is-5"></div>
            <div class="tile is-child is-2 box has-text-centered">
                <i class="fa fa-5x fa-spinner fa-pulse icon is-large"></i>
                <h1 class="title is-1">Loading...</h1>
            </div>
            <div class="tile is-child is-5"></div>
        </div>
        <div class="tile is-child"></div>
    </div>
</div>