<nav class="nav has-shadow si-nav">
  <div class="nav-item">
    <a href="/" class="si-brand"><span>Step</span>Inventory<span>.</span></a>
    <span class="si-slogan">Track It Easy©</span>
  </div>
  <div class="nav-center"></div>
  <div class="nav-right">
    <div class="nav-item">
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="button" href="./logout">Logout</a>
      {% else %}
        <a class="button" href="./login">Login</a>
      {% endif %}
    </div>
  </div>
</nav>