<div data-ui="collapsedBar">
	<a>Click Here To Show Report List</a>
</div>
<div data-ui="table">
	<table class="table">
		<thead>
			<tr>
				<th>
					Report Name
				</th>
				<th>
					Description
				</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>