<a href="{{baseURL+menuLink.url}}" class="dropdown-toggle" aria-expanded="false">{{menuLink.name}}
	{{#if children.length > 0}}
		<span class="caret"></span>
	{{/if}}
</a>
<ul class="dropdown-menu" role="menu">
	{{#each children}}
			<li><a href="{{baseURL+this.menuLink.url}}">{{this.menuLink.name}}</a></li>
	{{/each}}
</ul>