<div class="navbar-header stepthrough-menu-selection-container" id="menu-selection-container"></div>
<div class="collapse navbar-collapse">
	<div id="nav-menu"></div>
	<div class="stepthrough-menu-user-container" id="menu-user-container">
		<ul class="nav navbar-nav navbar-right">
	        <li><a href="<%= baseURL %>/logout">Logout</a></li>
	    </ul>
	</div>
</div>