<div id="admin-sidebar" class="col-md-2">
	<div class="well well-lg">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="admin/users" data-app-trigger="admin:users:list">Users</a></li>
			<li><a href="admin/menu_links" data-app-trigger="admin:menu_links:list">Menu Links</a></li>
		</ul>
	</div>
</div>
<div id="admin-content" class="col-md-10"></div>