<p>
	Howdy {{user.firstName}},
</p>
<p>
	Please follow the link below to reset your password.
	<div>
		<a href="{{ url('reset_password_update', {token: token}) }}">{{ url('reset_password_update', {token: token}) }}</a>
	</div>
</p>
