<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>Is Active?</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
