<div class="tabs" id="admin-tabs">
  <ul>
    <li class="is-active"><a href="{{baseUrl}}/user">Users</a></li>
    <li><a href="{{baseUrl}}/menu_item">Menu Links</a></li>
  </ul>
</div>
<div id="admin-content"></div>