<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Department</th>
			<th>SKU</th>
    		<th>Is Active?</th>
    		<th>Count</th>
    		<th>Type</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
