<ul>
	<li class="{{#ifIsRouteActive '/client'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/client">Client</a></li>
	<li class="{{#ifIsRouteActive '/customer'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/customer">Customer</a></li>
	<li class="{{#ifIsRouteActive '/inbound_order'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inbound_order">Inbound Order</a></li>
	<li class="{{#ifIsRouteActive '/outbound_order'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/outbound_order">Outbound Order</a></li>
</ul>