<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Customer</th>
			<th>Label</th>
			<th>Description</th>
			<th>Is Void?</th>
			<th>Sales Item Count</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
