<table class="table is-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Number</th>
			<th>Label</th>
			<th>Type</th>
			<th>Quantity</th>
    		<th>Is Void?</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
