<nav class="nav has-shadow si-nav"></nav>
<div class="columns si-main">
	<menu class="column menu is-narrow si-side-menu"></menu>
	<div class="column">
		<section class="section">
			<div class="container is-fluid" id="main-section"></div>
		</section>
		<footer class="footer has-text-centered">&copy; StepInventory 2016</footer>
	</div>
	<div class="column is-narrow si-help" id="help-panel"></div>
</div>
<div id="dialog"><div id="dialog-content"></div></div>