<nav class="nav has-shadow stepthrough-nav"></nav>
<div class="columns stepthrough-main">
	<menu class="column menu stepthrough-side-menu is-narrow"></menu>
	<div class="column">
		<section class="section">
			<div class="container is-fluid" id="main-section"></div>
		</section>
		<footer class="footer"></footer>
	</div>
</div>
<div id="dialog"><div id="dialog-content"></div></div>