{{#if isCreatable}}
	<button class="button is-light create-entity-button">Create</button>
	<button class="button is-light import-entity-button">Import/Export</button>
{{/if}}
<div class="entity-action-pane"></div>