<form id="user_search_form">
	<label class="label">Search</label>
	<div class="control">
		<input type="search" id="entity-search-input" class="input" placeholder="Seach" />
	</div>
</form>
<div class="entity-pagination"></div>
<div class="entity-list"></div>
