<form>
	<label class="label">Bin</label>
	<p class="control">
  		<select name="forBin">
  			<option>Select a bin...</option>
  		</select>
	</p>
	<label class="label">SKU</label>
	<p class="control">
  		<select name="sku">
  			<option>Select a SKU...</option>
  		</select>
	</p>
	<label class="label">Count</label>
	<p class="control">
		<input class="input" name="newCount" type="number" placeholder="Enter Count">
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>