<form>
	<label class="label">From Bin</label>
	<p class="control">
  		{{fromBin.attributes.name}}
	</p>
	<label class="label">To Bin</label>
	<p class="control">
		<select name="toBin">
  			<option>Select a bin...</option>
  		</select>
	</p>
	<label class="label">SKU</label>
	<p class="control">
  		{{sku.attributes.name}}
	</p>
	<label class="label">Count</label>
	<p class="control">
		<input class="input" name="count" type="number" placeholder="Enter Count">
	</p>
	<p class="control">
		<button type="submit" class="button is-primary" data-ui-name="save">Submit</button>
		<button type="button" class="button is-info is-outlined" data-ui-name="cancel">Cancel</button>
	</p>
</form>