<table class="table is-striped">
	<thead>
		<tr>
			<th>Department</th>
			<th>SKU</th>
			<th>Type</th>
			<th>Alert Count</th>
			<th>Alerted At</th>
			<th>Actual Count</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
