<table class="table is-striped">
	<thead>
		<tr>
			<th>By User</th>
			<th>Edit At</th>
			<th>Traveler Id</th>
			<th>Old Attributes</th>
			<th>New Attributes</th>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
