<button name="massEdit" class="button is-light">Mass Edit Sales Items</button>
<button name="massSelect" class="button is-light">Mass Select Sales Items</button>
<div class="notification is-info">
	<span data-ui-name="selectedCount"></span>
	<button class="button is-pulled-right" data-ui-name="clearSelection">Clear</button>
</div>
<div data-region="list"></div>