<button name="add" class="button is-light">Add Traveler Ids</button>
<button name="massEdit" class="button is-light">Mass Edit Traveler Ids</button>
<button name="massSelect" class="button is-light">Mass Select Traveler Ids</button>
<button name="massTransform" class="button is-light">Mass Transform Traveler Ids</button>
<div class="notification is-info">
	<span data-ui-name="selectedCount"></span>
	<button class="button is-pulled-right" data-ui-name="clearSelection">Clear</button>
</div>
<div data-region="list"></div>